.sidenav-wrapper {
  position: absolute;
  padding: 1rem;
  max-width: 25rem;
  background: white;
  transform: translateX(-99%);
  transition: transform .3s;

  &.show,
  &:focus,
  &:focus-within
  &:hover {
    transform: translateX(0);
  }
  > .sidenav-toggle {
    position: absolute;
    right: 0;
    top: 50px;
    transform: translateX(100%);
  }


}